<h1 id="user_info">My Space</h1>
<div id="user_name">
	<p>Name</p>
	<%= @person.name %>
</div>
<div id="user_avatar">
	<p>Avatar</p>
	<%= image_tag @person.avatar.large.url %>
</div>
<% @photos.each do |photo| %>
<div class="photos">
	<p><%= image_tag photo.content.url %></p>
	<p><%= photo.description %></p>
</div>
<% end %>