.container-fluid
  .row-fluid.photos_show_border
    %ul.photo_show
      = render :partial => 'photos/photo'
  .row-fluid.span2
    - if logined?
      - if @photos_own.nil?
        %p
          = current_user.name
      - else
        - @photos_own.each do |photo_own|
          %p.photo_des
            = photo_own.description
          %p
            = image_tag photo_own.content.scan.url
 
              